* {
    font-family: 'Ubuntu', sans-serif !important;
}

body,
body * {
    background-color: #ffffff00;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

:root {
    --background-color: #A020F0;
    --shadow-color: #00000090;
    --text-color: #FFFFFF;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: var(--background-color);*/
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #0074cc, #a700cc);
    box-shadow: 0 0 1.25rem 0.5rem var(--shadow-color);
    width: 500px;
    height: 180px;
    border-radius: 30px;
}

#textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

p {
    color: var(--text-color);
    font-size: 5.8rem;
    z-index: 1;
    text-shadow: 0px 0px 10px var(--shadow-color);
}

.addedTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    font-weight: 400;
    font-size: 3.25rem;
    color: white;
    animation: slidefadeout 2s ease-out;
    opacity: 0;
}

@keyframes slidefadeout {
    0% {
        opacity: 1;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 25%;
    }
}
