* {
    font-family: 'Ubuntu', sans-serif !important;
}

body, body * {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}



:root {
    --background-color: #A020F0;
    --shadow-color: #00000090;
    --text-color: #FFFFFF;
}



#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: var(--background-color);*/
    background-image:
         -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0074cc, #a700cc);
    box-shadow: 0 0 1.25rem 0.5rem var(--shadow-color);
    width: 500px;
    height: 180px;
    border-radius: 30px;
    visibility: hidden;
}

#HappyHourText {
    opacity: 0;
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* #HappyHourDeactive {
    visibility: hidden;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#HappyHourError {
    visibility: hidden;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

#HappyHourHTML {
    top:-200px;
    position: relative;
}

#startPage {
    position: absolute;
    align-items: center;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: var(--background-color);*/
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background:none;
}

#textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
         border-radius: 30px;
         box-shadow: 0 0 1.25rem 0.5rem var(--shadow-color);
         justify-content: center;
         align-items: center;
         display: flex;
         height: 100%;
         width: 150px;
         height: 50px;
         top: 50%;
         left: 50%;
         color:white;
         /*background-image:
         -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0074cc, #a700cc);*/
         background:none;
}

#firstButtonDiv, #secondButtonDiv {
    background-image:
         -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0074cc, #a700cc);
         width: 150px;
         height: 50px;
         display: inline-block;
}

#firstButtonDiv:hover, #secondButtonDiv:hover {
    background-image:
         -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0061ac, #8e00ad)!important;
}

#firstButtonDiv, #secondButtonDiv {
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 150px;
    height: 50px;
    top: 50%;
    left: 50%;
    color:white;
    background-image:
         -webkit-linear-gradient(-45deg, 
                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
                           rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                           rgba(255, 255, 255, .25), 
                           rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #0074cc, #a700cc);
}

#secondButtonDiv {
    margin-top:10px;
}

p {
    color: var(--text-color);
    font-size: 5.8rem;
    z-index: 1;
    text-shadow: 0px 0px 10px var(--shadow-color);
}

img {
    position: absolute;
    top: 0;
    bottom: 0;
}

canvas {
    width: 500px;
    height: 180px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}



.addedTime {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    z-index: 5;
    font-weight: 400;
    font-size: 3.25rem;
    /*color: var(--background-color);*/
    color:white;
    transition: top 1s ease-out, opacity .5s ease-out;
}